<template>
  <header class="header">
    <img src="~/static/image/Querty.png" alt="" class="header-logo" />
  </header>
</template>

<script>
export default {
  name: 'HeaderAuthComponent',
}
</script>

<style scoped>
.header {
  width: 100%;
  height: 72px;
  background-color: white;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo {
  width: 90px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .header {
    display: none;
  }
}
</style>