<template>
  <header
    :class="[
      isSearch ? 'header-backdrop' : '',
      $route.name !== 'index' && $route.name !== 'question-search'
        ? 'header-mobile'
        : '',
    ]"
  >
    <h1>{{ $route.name }}</h1>
    <div class="header-content">
      <div class="content">
        <img
          v-if="$route.name === 'question-search'"
          src="~/static/icon/Back-black.svg"
          alt=""
          class="content-icon"
          @click="goToHome"
        />
        <img src="~/static/image/Querty.png" alt="" class="content-logo" />
        <InputSearch
          placeholder="Cari 'Jaringan'"
          name="searchQuestion"
          :value="searchQuestion"
          @focus="isSearch = true"
          @blur="handleCloseSearch"
          @input="handleSearchQuestion"
        />
        <div v-show="isSearch" class="content-search">
          <h4>Pencarian Terakhir</h4>
          <div v-for="(item, index) in lastSearch" :key="item">
            <div class="search-title" @click="handleSearchHistory(item)">
              {{ item }}
              <img src="~/static/icon/Arrow-up-right.svg" alt="" />
            </div>
            <hr v-show="index + 1 !== lastSearch.length" />
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HeaderMainComponent',
  data() {
    return {
      isSearch: false,
      lastSearch: ['Instagram', 'Social Media'],
      searchQuestion: '',
    }
  },
  methods: {
    goToHome() {
      this.searchQuestion = ''
      this.$router.push('/')
    },
    handleSearchQuestion(e) {
      // console.log(e.value)
      this.searchQuestion = e.value
    },
    handleSearchHistory(data) {
      this.$router.push('/question/search')
    },
    handleCloseSearch() {
      setTimeout(() => {
        this.isSearch = false
      }, 150)
    },
  },
}
</script>

<style scoped>
.header-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(116, 117, 118, 0.3);
  z-index: 2;
}
.header-content {
  width: 100%;
  height: 72px;
  background-color: white;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.content {
  width: 560px;
  display: flex;
  align-items: center;
  position: relative;
}
.content-icon {
  display: none;
}
.content-logo {
  width: 90px;
  margin-right: 24px;
}
.content-search {
  width: 560px;
  background-color: #ffffff;
  position: absolute;
  top: 70px;
  left: 0;
  padding: 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.search-title {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .header-content {
    padding: 16px;
    box-shadow: none;
  }
  .content-logo {
    width: 57px;
    margin-right: 14px;
  }
  .content-icon {
    display: inline-block;
    margin-right: 8px;
  }
  .content-search {
    width: 100%;
    top: 50px;
  }
  .header-mobile {
    display: none;
  }
}
</style>