<template>
  <div>
    <nav>
      <img
        :src="
          require(`~/static/icon/Home${
            isActive === 'home' || isActive === 'question-search'
              ? 'Selected'
              : ''
          }.svg`)
        "
        alt=""
        @click="handleNavigation('home')"
      />
      <img
        :src="
          require(`~/static/icon/Question${
            isActive === 'question-list' || isActive === 'question-id'
              ? 'Selected'
              : ''
          }.svg`)
        "
        alt=""
        @click="handleNavigation('question-list')"
      />
      <div class="nav-center" @click="showModal('question')">
        <img src="~/static/icon/Edit.svg" alt="" />
      </div>
      <img
        :src="
          require(`~/static/icon/Notification${
            isActive === 'notification' ? 'Selected' : ''
          }.svg`)
        "
        alt=""
        @click="handleNavigation('notification')"
      />
      <img
        :src="
          require(`~/static/icon/User${
            isActive === 'account' ? 'Selected' : ''
          }.svg`)
        "
        alt=""
        @click="handleNavigation('account')"
      />
    </nav>
    <div class="position-button">
      <button class="button color-white" @click="showModal('question')">
        <img src="~/static/icon/Edit.svg" alt="" />
        Buat Pertanyaan
      </button>
    </div>
    <Modal
      v-show="modalActive === 'question'"
      submitTitle="Buat"
      @close="closeModal"
      @submit="submitModalQuestion"
    >
      <template #header> Buat Pertanyaan </template>
      <template #body>
        <div class="question">
          <input
            v-model="question"
            type="text"
            placeholder="Yuk, tulis disini dengan min. 10 karakter."
            class="question-input"
          />
          <div v-show="question">
            <h4>Pertanyaan yang mungkin sama</h4>
            <div class="question-content">
              <div v-for="n in 10" :key="n" class="question-list">
                <div class="question-item">
                  <div>
                    Mengapa ABC?
                    <div class="color-keppel3 text-caption">8 Jawaban</div>
                  </div>
                  <img src="~/static/icon/Chevron-right.svg" alt="" />
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </template>
    </Modal>
    <Modal
      v-show="modalActive === 'topic'"
      :submitTitle="`Pilih ${
        selectTopic.length > 0 ? selectTopic.length : ''
      } Topik`"
      :isBack="true"
      @submit="submitModalTopic"
      @close="closeModal"
      @back="showModal('question')"
    >
      <template #header> Pilih Topik </template>
      <template #body>
        <div class="topic">
          <Alert
            title="Pastikan topik yang sesuai agar memudahkan member lain menjawab pertanyaanmu."
          />
          <InputSearch
            placeholder="Cari topik"
            name="searchTopic"
            :value="searchTopic"
            @input="handleSearchTopic"
          />
          <div class="topic-list">
            <ChecklistTopic
              v-for="(item, index) in listTopic"
              :key="index"
              :title="item.title"
              :value="item.value"
              :isActive="selectTopic.includes(item.value)"
              @change="handleSelectTopic"
            />
          </div>
        </div>
      </template>
    </Modal>
    <Modal
      v-show="modalActive === 'user'"
      submitTitle="Selesai"
      :isBack="true"
      @submit="submitModalUser"
      @close="closeModal"
      @back="showModal('topic')"
    >
      <template #header> Minta Jawaban </template>
      <template #body>
        <div class="user">
          <InputSearch
            placeholder="Cari member lain untuk minta jawaban"
            name="searchUser"
            :value="searchUser"
            @input="handleSearchUser"
          />
          <div class="user-list">
            <ChecklistUser
              v-for="item in listUser"
              :key="item.id"
              :name="item.name"
              :value="item.name"
              :answer="item.answer"
              :image="item.image"
              :isActive="selectUser.includes(item.name)"
              @change="handleSelectUser"
            />
          </div>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  name: 'BottomMenuComponent',
  data() {
    return {
      isActive: this.$route.name !== 'index' ? this.$route.name : 'home',
      modalActive: '',
      question: '',
      searchTopic: '',
      searchUser: '',
      listTopic: [
        {
          title: 'Model Bisnis',
          value: 'model-bisnis',
        },
        {
          title: 'Periklanan',
          value: 'periklanan',
        },
        {
          title: 'Strategi Bisnis',
          value: 'strategi-bisnis',
        },
        {
          title: 'Makanan',
          value: 'makanan',
        },
      ],
      // listUser: ['Tito Karnavian'],
      selectTopic: [],
      selectUser: [],
    }
  },
  computed: {
    listUser() {
      return this.$store.state.question.listUser
    },
  },
  methods: {
    handleNavigation(navigate) {
      this.isActive = navigate
      if (navigate === 'home') {
        navigate = ''
      }
      this.$router.push(`/${navigate}`)
    },
    handleSearchTopic(e) {
      this.searchTopic = e.value
    },
    handleSearchUser(e) {
      this.searchUser = e.value
    },
    handleSelectTopic(e) {
      if (!this.selectTopic.includes(e.value)) {
        this.selectTopic = [...this.selectTopic, e.value]
      } else {
        this.selectTopic = this.selectTopic.filter((item) => item !== e.value)
      }
    },
    handleSelectUser(e) {
      if (!this.selectUser.includes(e.value)) {
        this.selectUser = [...this.selectUser, e.value]
      } else {
        this.selectUser = this.selectUser.filter((item) => item !== e.value)
      }
    },
    showModal(data) {
      this.modalActive = data
    },
    closeModal() {
      this.modalActive = ''
    },
    submitModalQuestion() {
      this.modalActive = 'topic'
    },
    submitModalTopic() {
      this.modalActive = 'user'
    },
    submitModalUser() {
      this.modalActive = ''
      this.$store.dispatch('message/addMessage', {
        type: 'success',
        msg: 'Berhasil !',
      })
    },
  },
}
</script>

<style scoped>
nav {
  display: none;
}
.nav-center {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-color: #a06cd5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
}
.position-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.button {
  width: 170px;
  height: 48px;
  background-color: #a06cd5;
  font-weight: bold;
  padding: 15px;
  border: 0pxpx;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
}
.question-input {
  width: 100%;
  border: none;
  padding: 10px 0;
  margin-bottom: 18px;
}
.question-input:focus {
  border-bottom: 1px solid #93a29d;
}
.question-content {
  height: 235px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 8px;
}
.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  cursor: pointer;
}
.topic-list {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}
.user-list {
  height: 265px;
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .position-button {
    display: none;
  }
  nav {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -4px 16px rgba(98, 71, 170, 0.12);
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
</style>