<template>
  <aside class="sidebar">
    <img
      :src="
        require(`~/static/icon/Home${
          isActive === 'home' ||
          isActive === 'question-search' ||
          isHover === 'home'
            ? 'Selected'
            : ''
        }.svg`)
      "
      alt=""
      class="sidebar-menu"
      @click="handleNavigation('home')"
      @mouseover="isHover = 'home'"
      @mouseleave="isHover = ''"
    />
    <img
      :src="
        require(`~/static/icon/Question${
          isActive === 'question-list' ||
          isActive === 'question-id' ||
          isHover === 'question-list'
            ? 'Selected'
            : ''
        }.svg`)
      "
      alt=""
      class="sidebar-menu"
      @click="handleNavigation('question-list')"
      @mouseover="isHover = 'question-list'"
      @mouseleave="isHover = ''"
    />
    <img
      :src="
        require(`~/static/icon/Notification${
          isActive === 'notification' || isHover === 'notification'
            ? 'Selected'
            : ''
        }.svg`)
      "
      alt=""
      class="sidebar-menu"
      @click="handleNavigation('notification')"
      @mouseover="isHover = 'notification'"
      @mouseleave="isHover = ''"
    />
    <img
      :src="
        require(`~/static/icon/User${
          isActive === 'account' || isHover === 'account' ? 'Selected' : ''
        }.svg`)
      "
      alt=""
      class="sidebar-menu"
      @click="handleNavigation('account')"
      @mouseover="isHover = 'account'"
      @mouseleave="isHover = ''"
    />
  </aside>
</template>

<script>
export default {
  name: 'SidebarComponent',
  data() {
    return {
      isActive: this.$route.name !== 'index' ? this.$route.name : 'home',
      isHover: '',
    }
  },
  methods: {
    handleNavigation(navigate) {
      this.isActive = navigate
      if (navigate === 'home') {
        navigate = ''
      }
      this.$router.push(`/${navigate}`)
    },
  },
}
</script>

<style scoped>
.sidebar {
  width: 72px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar-menu {
  margin-bottom: 43px;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
</style>