<template>
  <main class="main">
    <div class="main-header">
      <div class="main-header__left">
        <img
          src="~/static/icon/Back-black.svg"
          alt=""
          class="main-header__img"
          @click="goToBack"
        />
        <h1>Detail Pertanyaan</h1>
      </div>
      <img src="~/static/icon/3 dots.svg" alt="" />
    </div>
    <div class="question">
      <CardQuestion
        :question="detailQuestion.question"
        :totalAnswer="detailQuestion.listAnswer.length"
        :following="detailQuestion.following"
        :borderTop="true"
      />
      <CardQuestionAvatar
        v-for="(item, index) in detailQuestion.listAnswer"
        :key="item.id"
        :borderBottom="
          detailQuestion.listAnswer.length === index + 1 ? true : false
        "
        :name="item.name"
        :image="item.image"
        :answer="item.answer"
        :voteUp="item.voteUp"
        :voteDown="item.voteDown"
        :createdAt="item.createdAt"
      />
    </div>
  </main>
</template>

<script>
export default {
  name: 'QuestionDetailPage',
  computed: {
    detailQuestion() {
      return this.$store.state.question.detailQuestion
    },
  },
  methods: {
    goToBack() {
      this.$router.back()
    },
  },
}
</script>
<style scoped>
.main {
  width: 560px;
}
.main-header {
  display: none;
  margin-bottom: 24px;
}
.question {
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  border-radius: 12px;
  margin-bottom: 25px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 16px;
  }
  .main-header__left {
    display: flex;
    align-items: center;
  }
  .main-header__img {
    margin-right: 6px;
  }
  .question {
    box-shadow: none;
    border-radius: 12px;
    margin-bottom: 25px;
  }
}
</style>