<template>
  <main>
    <aside>
      <div class="aside">
        <div class="aside-filter">
          <h4 class="filter-header">Jenis</h4>
          <div class="filter-button__type">
            <ButtonRounded
              title="Semua Jenis"
              :isActive="filterType === 'Semua Jenis'"
              @click="handlefilterType('Semua Jenis')"
            />
            <ButtonRounded
              title="Pertanyaan"
              :isActive="filterType === 'Pertanyaan'"
              @click="handlefilterType('Pertanyaan')"
            />
            <ButtonRounded
              title="Jawaban"
              :isActive="filterType === 'Jawaban'"
              @click="handlefilterType('Jawaban')"
            />
          </div>
        </div>
        <div class="aside-filter">
          <h4 class="filter-header">
            Topic
            <span
              class="filter-header__more color-color-amethyst2"
              @click="showModal"
              >Lihat Semua</span
            >
          </h4>
          <div class="filter-button__topic">
            <ButtonRounded
              title="Bisnis"
              :isActive="filterTopic.includes('Bisnis')"
              @click="handlefilterTopic('Bisnis')"
            />
            <ButtonRounded
              title="Pemograman"
              :isActive="filterTopic.includes('Pemrograman')"
              @click="handlefilterTopic('Pemrograman')"
            />
            <ButtonRounded
              title="Keuangan"
              :isActive="filterTopic.includes('Keuangan')"
              @click="handlefilterTopic('Keuangan')"
            />
            <ButtonRounded
              title="Desain"
              :isActive="filterTopic.includes('Desain')"
              @click="handlefilterTopic('Desain')"
            />
            <ButtonRounded
              title="Jaringan Komputer"
              :isActive="filterTopic.includes('Jaringan Komputer')"
              @click="handlefilterTopic('Jaringan Komputer')"
            />
            <ButtonRounded
              title="Investasi"
              :isActive="filterTopic.includes('Investasi')"
              @click="handlefilterTopic('Investasi')"
            />
            <ButtonRounded
              title="Otomotif"
              :isActive="filterTopic.includes('Otomotif')"
              @click="handlefilterTopic('Otomotif')"
            />
            <ButtonRounded
              title="Pendidikan"
              :isActive="filterTopic.includes('Pendidikan')"
              @click="handlefilterTopic('Pendidikan')"
            />
            <ButtonRounded
              title="Arsitektur"
              :isActive="filterTopic.includes('Arsitektur')"
              @click="handlefilterTopic('Arsitektur')"
            />
            <ButtonRounded
              title="Properti"
              :isActive="filterTopic.includes('Properti')"
              @click="handlefilterTopic('Properti')"
            />
          </div>
        </div>
      </div>
    </aside>
    <main>
      <div class="main-content">
        <div class="content-search">
          <div v-if="data.length > 0">
            <div class="search-result">
              Menampilkan {{ data.length }} pertanyaan / jawaban untuk Jaringan
            </div>
            <div class="search-type">
              <ButtonRounded :title="filterType" :isFilter="true" />
              <ButtonRounded
                v-for="item in filterTopic"
                :key="item"
                :title="item"
                :isFilter="true"
                :isDelete="true"
                @clickDelete="handleDeleteFilter(item)"
              />
              <div
                v-if="filterTopic.length > 0"
                class="search-type__delete color-amethyst2 text-caption"
                @click="handleResetFilter"
              >
                Hapus Semua
              </div>
            </div>
            <div class="search-type__mobile">
              <ButtonRounded title="Filter" icon="Filter" @click="showModal" />
              <ButtonRounded title="Pertanyaan" />
              <ButtonRounded title="Jawaban" />
              <ButtonRounded
                v-for="item in filterTopic"
                :key="item"
                :title="item"
              />
            </div>
          </div>
          <h4 v-else class="search-notfound">
            <img src="~/static/image/Online research_Two Color 1.png" alt="" />
            Belum ada pertanyaan atau jawaban <br />
            tentang hal itu
          </h4>
        </div>
        <div class="content-question">
          <div class="question-list">
            <CardQuestionAvatar
              v-for="n in 15"
              :key="n"
              :borderBottom="n === 15 ? true : false"
              question="Bagaimana cara mengetes seseorang kaya atau tidak?"
              :share="true"
              @click="goToDetail(n)"
            />
          </div>
        </div>
      </div>
    </main>
    <aside></aside>
    <Modal
      v-show="modalActive"
      submitTitle="Simpan"
      @submit="submitModalTopic"
      @close="closeModal"
    >
      <template #header> Topik </template>
      <template #body>
        <InputSearch
          placeholder="Cari topik"
          name="searchTopic"
          :value="searchTopic"
          @input="handleInputSearch"
        />
        <div class="topic-list">
          <ChecklistTopic
            v-for="(item, index) in listTopic"
            :key="index"
            :title="item.title"
            :value="item.value"
            :isActive="filterTopic.includes(item.value)"
            @change="handleSelectTopic"
          />
        </div>
      </template>
    </Modal>
  </main>
</template>

<script>
export default {
  name: 'QuestionSearch',
  data() {
    return {
      data: [1],
      modalActive: false,
      filterType: 'Semua Jenis',
      filterTopic: [],
      searchTopic: '',
      listTopic: [
        {
          title: 'Model Bisnis',
          value: 'model-bisnis',
        },
        {
          title: 'Periklanan',
          value: 'periklanan',
        },
        {
          title: 'Strategi Bisnis',
          value: 'strategi-bisnis',
        },
        {
          title: 'Makanan',
          value: 'makanan',
        },
      ],
    }
  },
  methods: {
    goToDetail(id) {
      this.$router.push('/question/' + id)
    },
    handlefilterType(data) {
      this.filterType = data
      alert(`Filter type ${data}`)
    },
    handlefilterTopic(data) {
      if (!this.filterTopic.includes(data)) {
        this.filterTopic = [...this.filterTopic, data]
        alert(`Filter type ${data}`)
      }
    },
    showModal() {
      this.modalActive = true
    },
    closeModal() {
      this.modalActive = false
    },
    submitModalTopic() {
      this.modalActive = false
      alert('Submit Modal Topic')
    },
    handleInputSearch(e) {
      // console.log(e.value)
      this.searchTopic = e.value
    },
    handleDeleteFilter(data) {
      const filterTopic = this.filterTopic.filter((item) => item !== data)
      this.filterTopic = filterTopic
    },
    handleResetFilter() {
      this.filterType = 'Semua Jenis'
      this.filterTopic = []
    },
    handleSelectTopic(e) {
      if (!this.filterTopic.includes(e.value)) {
        this.filterTopic = [...this.filterTopic, e.value]
      } else {
        this.filterTopic = this.filterTopic.filter((item) => item !== e.value)
      }
    },
  },
}
</script>

<style scoped>
main,
aside {
  flex: 1;
  display: flex;
}
aside {
  justify-content: flex-end;
}
main {
  justify-content: center;
  width: 100%;
}
.aside {
  width: 268px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  padding: 20px;
  margin-right: 20px;
}
.aside-filter {
  margin-bottom: 24px;
}
.filter-header {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-header__more {
  font-weight: normal;
  cursor: pointer;
}
.filter-button__topic {
  display: flex;
  flex-wrap: wrap;
}
.main-content {
  width: 560px;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  border-radius: 12px;
  margin-bottom: 25px;
}
.content-search {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 8px;
}
.search-type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
}
.search-type__mobile {
  display: none;
}
.search-type__delete {
  cursor: pointer;
}
.search-notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.topic-list {
  height: 270px;
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  aside {
    display: none;
  }
  .main-content {
    width: 100%;
  }
  .content-search {
    border-radius: 0px;
    padding: 10px 16px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .search-type,
  .search-result {
    display: none;
  }
  .search-type__mobile {
    display: flex;
  }
}
</style>