<template>
  <div class="card">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'CardComponent',
}
</script>

<style scoped>
.card {
  width: 900px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  padding: 20px 40px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .card {
    width: 100%;
    padding: 24px 16px;
    border-radius: 0px;
  }
}
</style>