<template>
  <div :class="['card', borderBottom ? 'card-border__bottom' : '']">
    <div class="card-header">
      <div class="profile">
        <img
          :src="require('~/static/avatar/default.jpg')"
          alt=""
          class="profile-image"
        />
        <div>
          <h4>{{ name }}</h4>
          <div class="text-caption">{{ convertDate }}</div>
        </div>
      </div>
      <img src="~/static/icon/3 dots.svg" alt="" class="icon-more" />
    </div>
    <div @click="handleClickQuestion">
      <h4 v-show="question" class="card-question">
        {{ question }}
      </h4>
      <div class="card-answer">
        {{ answer }}
      </div>
    </div>
    <div class="card-menu">
      <div class="menu menu-share">
        <div v-show="share" class="menu">
          <img src="~/static/icon/Share-alt.svg" alt="" class="menu-icon" />
          Bagikan
        </div>
      </div>
      <div class="menu menu-vote">
        <div class="menu menu-center menu-vote__first">
          <img src="~/static/icon/Downvote.svg" alt="" class="menu-icon" />
          <h4>{{ voteDown }}</h4>
        </div>
        <div class="menu menu-center">
          <img src="~/static/icon/ArrowUp.svg" alt="" class="menu-icon" />
          <h4>{{ voteUp }}</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import timeAgo from '../../helper/timeAgo'

export default {
  name: 'CardQuestionAvatarComponent',
  props: {
    name: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    question: {
      type: String,
      default: '',
    },
    answer: {
      type: String,
      default: '',
    },
    voteUp: {
      type: Number,
      default: 0,
    },
    voteDown: {
      type: Number,
      default: 0,
    },
    createdAt: {
      type: Number,
      default: 0,
    },
    share: {
      type: Boolean,
      default: false,
    },
    borderBottom: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    convertDate() {
      return timeAgo(this.createdAt)
    },
  },
  methods: {
    handleClickQuestion() {
      this.$emit('click')
    },
  },
}
</script>

<style scoped>
.card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 8px;
}
.card-border__bottom {
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 0px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.profile {
  display: flex;
}
.profile-image {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
.card-question {
  margin-bottom: 4px;
  cursor: pointer;
}
.card-answer {
  margin-bottom: 16px;
  cursor: pointer;
}
.card-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-action {
  display: none;
}
.menu {
  flex: 1;
  display: flex;
  align-items: center;
}
.menu-center {
  justify-content: center;
  cursor: pointer;
}
.menu-icon {
  margin-right: 8px;
}
.menu-vote__first {
  border-right: 1px solid #e2e9ef;
}
.icon-more {
  display: none;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .card {
    padding: 16px;
  }
  .menu-share {
    display: none;
  }
  .card-question {
    display: flex;
  }
  .card-action {
    display: inline-block;
  }
  .icon-more {
    display: inline-block;
  }
}
</style>