<template>
  <div
    :class="[
      'card',
      borderBottom ? 'card-border__bottom' : '',
      borderTop ? 'card-border__top' : '',
    ]"
  >
    <h4 class="card-question">
      {{ question }}
      <div class="question-action">
        <img src="~/static/icon/3 dots.svg" alt="" />
      </div>
    </h4>
    <div class="card-description text-caption">
      {{ totalAnswer }} Jawaban • {{ following }} Orang mengikuti
    </div>
    <div class="card-menu">
      <div class="menu menu-share">
        <img src="~/static/icon/Share-alt.svg" alt="" class="menu-icon" />
        Bagikan
      </div>
      <div class="menu" @click="showModalAnswer">
        <img src="~/static/icon/Answer.svg" alt="" class="menu-icon" />
        Jawab
      </div>
      <div class="menu">
        <img src="~/static/icon/Follow.svg" alt="" class="menu-icon" />
        Ikuti
      </div>
      <div class="menu menu-last">
        <img src="~/static/icon/Ask.svg" alt="" class="menu-icon" />
        Minta
      </div>
    </div>
    <Modal
      v-show="modalAnswer"
      submitTitle="Kirim Jawaban"
      @submit="submitModalAnswer"
      @close="closeModalAnswer"
    >
      <template #header> Jawab Pertanyaan </template>

      <template #question
        ><div class="question-title">
          Bagaimana cara mengetes seseorang kaya atau tidak?
        </div></template
      >
      <template #body>
        <input
          type="text"
          placeholder="Yuk, tulis disini dengan min. 10 karakter."
          class="answer-input"
        />
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  name: 'CardQuestionComponent',
  props: {
    question: {
      type: String,
      default: '',
    },
    totalAnswer: {
      type: Number,
      default: 0,
    },
    following: {
      type: String,
      default: '0',
    },
    borderTop: {
      type: Boolean,
      default: false,
    },
    borderBottom: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      modalAnswer: false,
    }
  },
  methods: {
    showModalAnswer() {
      this.modalAnswer = true
    },
    closeModalAnswer() {
      this.modalAnswer = false
    },
    submitModalAnswer() {
      this.closeModalAnswer()
    },
  },
}
</script>
<style scoped>
.card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 8px;
}
.card-border__bottom {
  border-radius: 0px 0px 12px 12px;
}
.card-border__top {
  border-radius: 12px 12px 0px 0px;
}
.card-description {
  margin: 4px 0px 20px;
}
.card-menu {
  display: flex;
  justify-content: space-between;
}
.question-action {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  border-right: 1px solid #e2e9ef;
  padding: 0 25px;
  cursor: pointer;
}
.menu-icon {
  margin-right: 4px;
}
.menu-last {
  border: none;
}
.answer-input {
  width: 100%;
  border: none;
  padding: 10px 0;
}
.answer-input:focus {
  border-bottom: 1px solid #93a29d;
}
.question-title {
  background-color: #f6f5f8;
  padding: 16px 32px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .menu-share {
    display: none;
  }
  .card {
    padding: 16px;
  }
  .card-question {
    display: flex;
  }
  .question-action {
    display: inline-block;
  }
  .card-border__bottom {
    border-radius: 0px;
  }
  .card-border__top {
    border-radius: 0px;
  }
}
</style>