<template>
  <div>
    <div v-if="label" class="input-label">{{ label }}</div>
    <div v-if="type === 'password'" class="input-password">
      <input
        :type="showPassword ? 'text' : 'password'"
        :placeholder="placeholder"
        :value="value"
        :name="name"
        @input="handleChangeInput"
      />
      <img
        :src="
          require(`~/static/icon/${
            showPassword ? 'Eye-open' : 'Eye-slashed'
          }.svg`)
        "
        alt=""
        class="input-logo"
        @click="showPassword = !showPassword"
      />
    </div>
    <div v-else class="input">
      <input
        :type="type"
        :placeholder="placeholder"
        :value="value"
        :name="name"
        @input="handleChangeInput"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputComponent',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
    },
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      showPassword: false,
    }
  },
  methods: {
    handleChangeInput(e) {
      const { name, value } = e.target
      this.$emit('input', { name, value })
    },
  },
}
</script>

<style scoped>
input {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background-color: #f6f5f8;
}
.input-label {
  margin-bottom: 3px;
}
.input,
.input-password {
  margin-bottom: 12px;
}
.input-password {
  display: flex;
  align-items: center;
  background-color: #f6f5f8;
  border-radius: 12px;
}
.input-logo {
  padding-right: 15px;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .input-label {
    text-align: left;
  }
}
</style>