<template>
  <div class="otp">
    <input
      id="1"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n1"
      @input="handleInputOtp"
    />
    <input
      id="2"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n2"
      @input="handleInputOtp"
    />
    <input
      id="3"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n3"
      @input="handleInputOtp"
    />
    <input
      id="4"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n4"
      @input="handleInputOtp"
    />
    <input
      id="5"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n5"
      @input="handleInputOtp"
    />
    <input
      id="6"
      type="text"
      class="otp-input"
      maxLength="1"
      :value="otp.n6"
      @input="handleInputOtp"
    />
  </div>
</template>

<script>
export default {
  name: 'InputOtpComponent',
  props: {
    otp: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  methods: {
    handleInputOtp(e) {
      if (e.target.value) {
        this.$emit('handleInputOtp', e)
        const nextSibling = document.getElementById(
          parseInt(e.target.id, 10) + 1
        )
        if (nextSibling !== null) {
          nextSibling.focus()
        }
      }
    },
  },
}
</script>

<style scoped>
.otp {
  margin: 16px 0 24px;
  display: flex;
}
.otp-input {
  width: 40px;
  height: 60px;
  margin: 0 6px;
  text-align: center;
  border: 1px solid #dcf3eb;
}
.otp-input:focus {
  border-color: black;
}
</style>