<template>
  <div class="search">
    <img src="~/static/icon/Search.svg" alt="" class="search-image" />
    <input
      type="text"
      :placeholder="placeholder"
      class="search-input"
      :value="value"
      :name="name"
      @focus="focus"
      @blur="blur"
      @input="handleChangeInput"
    />
  </div>
</template>

<script>
export default {
  name: 'InputSearchComponent',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  methods: {
    focus() {
      this.$emit('focus')
    },
    blur() {
      this.$emit('blur')
    },
    handleChangeInput(e) {
      const { name, value } = e.target
      this.$emit('input', { name, value })
    },
  },
}
</script>

<style scoped>
.search {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  border: 1px solid #93a29d;
  border-radius: 12px;
  padding: 0 10px;
}
.search-image {
  width: 16px;
  height: 16px;
}
.search-input {
  width: 100%;
  border: none;
  padding: 15px 5px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .search {
    height: 40px;
  }
  .search-input {
    padding: 7px 5px;
  }
}
</style>