<template>
  <button :style="{ color: color, 'border-color': color }" @click="click">
    <img :src="require(`~/static/icon/Logo/${icon}.svg`)" alt="" />
    {{ title }}
  </button>
</template>

<script>
export default {
  name: 'ButtonIconComponent',
  props: {
    title: {
      type: String,
      default: 'Button',
    },
    icon: {
      type: String,
      default: 'Google',
    },
    color: {
      type: String,
      default: 'black',
    },
  },
  methods: {
    click() {
      this.$emit('click')
    },
  },
}
</script>

<style scoped>
button {
  width: 100%;
  padding: 14px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  margin-bottom: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
</style>