<template>
  <button class="color-white" @click="click">{{ title }}</button>
</template>

<script>
export default {
  name: 'ButtonComponent',
  props: {
    title: {
      type: String,
      default: 'Button',
    },
  },
  methods: {
    click() {
      this.$emit('click')
    },
  },
}
</script>

<style scoped>
button {
  width: 100%;
  padding: 14px;
  background-color: #a06cd5;
  border: none;
  border-radius: 12px;
  margin: 24px 0;
  cursor: pointer;
}
</style>