<template>
  <button
    :class="[
      'color-eerieblack',
      'button',
      isActive ? 'button-active' : '',
      isDelete ? 'button-icon' : '',
      isFilter ? 'button-filter' : '',
    ]"
    @click="click"
  >
    {{ title }}
    <img
      v-if="isDelete"
      src="~/static/icon/Clear.svg"
      alt=""
      class="icon"
      @click="clickDelete"
    />
    <img
      v-if="icon"
      :src="require(`~/static/icon/${icon}.svg`)"
      alt=""
      class="icon"
    />
  </button>
</template>

<script>
export default {
  name: 'ButtonRoundedComponent',
  props: {
    title: {
      type: String,
      default: 'Button',
    },
    icon: {
      type: String,
      default: '',
    },
    isFilter: {
      type: Boolean,
      default: false,
    },
    isActive: {
      type: Boolean,
      default: false,
    },
    isDelete: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    click() {
      this.$emit('click')
    },
    clickDelete() {
      this.$emit('clickDelete')
    },
  },
}
</script>

<style scoped>
.button {
  padding: 6px 12px;
  border-radius: 48px;
  background: #ffffff;
  border: 1px solid #93a29d;
  margin: 4px 8px 4px 0px !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-active {
  border: 1px solid black;
  color: black;
}
.button-icon {
  display: flex;
  align-items: center;
}
.button-filter {
  cursor: default;
}
.icon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  cursor: pointer;
}
</style>