<template>
  <div :class="['topic', isActive ? 'topic-active' : '']">
    <div class="topic-title">{{ title }}</div>
    <input
      type="checkbox"
      class="topic-checkbox"
      :value="value"
      :checked="isActive"
      @change="handleChecked"
    />
  </div>
</template>

<script>
export default {
  name: 'ChecklistTopicComponent',
  props: {
    title: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleChecked(e) {
      const { value } = e.target
      this.$emit('change', { value })
    },
  },
}
</script>

<style scoped>
.topic {
  padding: 15px 12px;
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(147, 162, 157, 0.4);
}
.topic-active {
  border-color: #2b302e;
}
.topic-title {
  flex: 2;
}
.topic-checkbox {
  flex: 0.1;
  width: 20px;
  height: 20px;
}
</style>