<template>
  <div>
    <div class="user">
      <div class="user-caption">
        <img
          :src="require('~/static/avatar/default.jpg')"
          alt=""
          class="user-image"
        />
        <div>
          <h4>{{ name }}</h4>
          <div class="text-caption">{{ answer }}</div>
        </div>
      </div>
      <input
        type="checkbox"
        class="user-checkbox"
        :value="value"
        :checked="isActive"
        @change="handleChecked"
      />
    </div>
    <hr />
  </div>
</template>

<script>
export default {
  name: 'ChecklistUserComponent',
  props: {
    name: {
      type: String,
      default: '',
    },
    answer: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleChecked(e) {
      const { value } = e.target
      this.$emit('change', { value })
    },
  },
}
</script>
<style scoped>
.user {
  padding: 15px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-caption {
  flex: 1;
  display: flex;
  align-items: center;
}
.user-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 8px;
}
.user-checkbox {
  flex: 0.1;
  width: 20px;
  height: 20px;
}
</style>