<template>
  <div v-if="data.msg" :class="['toast', isAuth ? 'toast-auth' : '']">
    {{ data.msg }}
  </div>
</template>

<script>
export default {
  name: 'ToastComponent',
  props: {
    isAuth: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    data() {
      return this.$store.state.message.data
    },
  },
}
</script>

<style scoped>
.toast {
  position: fixed;
  bottom: 105px;
  right: 40px;
  width: 240px;
  padding: 12px;
  background-color: #2b302e;
  color: #ffffff;
  border-radius: 12px;
}
.toast-auth {
  bottom: 40px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .toast {
    width: 80%;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    bottom: 75px;
    text-align: center;
    background-color: rgba(43, 48, 46, 0.9);
  }
  .toast-auth {
    bottom: 30px;
  }
}
</style>