html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #f6f5f8;
}

*,
*:before,
*:after {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
.text-caption {
  font-size: 12px;
  color: #626c69;
}

.color-amethyst1 {
  color: #281b35;
}
.color-amethyst2 {
  color: #50366a;
}
.color-amethyst3 {
  color: #a06cd5;
}
.color-amethyst4 {
  color: #f0a2ff;
}
.color-amethyst5 {
  color: #fff3ff;
}

.color-keppel1 {
  color: #0f2a27;
}
.color-keppel2 {
  color: #1d544e;
}
.color-keppel3 {
  color: #3ba99c;
}
.color-keppel4 {
  color: #58fdea;
}
.color-keppel1 {
  color: #85ffff;
}

.color-black {
  color: #1d201f;
}
.color-eerieblack {
  color: #626c69;
}
.color-white {
  color: #ffffff;
}
.color-blue {
  color: #6247aa;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(116, 117, 118, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

@media screen and (min-width: 0) and (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
}
