<template>
  <div>
    <HeaderAuth />
    <div class="container">
      <nuxt />
    </div>
    <Toast :isAuth="true" />
  </div>
</template>

<script>
export default {
  name: 'LayoutAuth',
  middleware: 'authenticated',
}
</script>
<style scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .container {
    text-align: center;
    margin-top: 0px;
  }
}
</style>