<template>
  <div>
    <Sidebar />
    <HeaderMain />
    <div
      :class="[
        'container',
        $route.name !== 'index' && $route.name !== 'question-search'
          ? 'container-mobile'
          : '',
      ]"
    >
      <nuxt />
    </div>
    <BottomMenu />
    <Toast />
  </div>
</template>

<script>
export default {
  name: 'LayoutDefault',
  middleware: 'authentication',
}
</script>

<style scoped>
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .container {
    margin: 40px 0px 35px;
  }
  .container-mobile {
    margin-top: 0px;
  }
}
</style>