<template>
  <transition name="fade">
    <div class="backdrop">
      <div class="modal">
        <header class="modal-header">
          <button v-if="isBack" type="button" class="button-back" @click="back">
            <img src="~/static/icon/Back.svg" alt="" />
          </button>
          <h2><slot name="header"> This is the default title! </slot></h2>

          <button type="button" class="button-close" @click="close">
            <img src="~/static/icon/X.svg" alt="" />
          </button>
        </header>

        <slot name="question" />

        <section class="modal-body">
          <slot name="body"> This is the default body! </slot>
        </section>

        <footer class="modal-footer">
          <button type="button" class="button-submit" @click="submit">
            {{ submitTitle }}
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ModalComponent',
  props: {
    submitTitle: {
      type: String,
      default: 'Submit',
    },
    isBack: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    back() {
      this.$emit('back')
    },
    close() {
      this.$emit('close')
    },
    submit() {
      this.$emit('submit')
    },
  },
}
</script>

<style scoped>
.modal {
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header,
.modal-footer {
  padding: 20px;
  display: flex;
}

.modal-header {
  position: relative;
  justify-content: center;
}

.button-back {
  position: absolute;
  top: 25px;
  left: 20px;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
}

.button-close {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
}

.modal-footer {
  border-top: 1px solid #93a29d;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.modal-body {
  position: relative;
  padding: 12px 32px;
  height: 340px;
}

.button-submit {
  width: 160px;
  color: white;
  background: #a06cd5;
  border: none;
  border-radius: 12px;
  padding: 14px 0;
  cursor: pointer;
}

@media screen and (min-width: 0) and (max-width: 600px) {
  .modal {
    width: 95%;
  }
}
</style>