<template>
  <transition name="fade">
    <div class="backdrop">
      <div class="modal">
        <header class="modal-header">
          <h2><slot name="header"> This is the default title! </slot></h2>
          <button type="button" class="button-close" @click="close">
            <img src="~/static/icon/X.svg" alt="" />
          </button>
        </header>

        <section class="modal-body">
          <slot name="body"> This is the default body! </slot>
        </section>

        <footer class="modal-footer">
          <button
            type="button"
            class="button-submit color-white"
            @click="submit"
          >
            {{ submitTitle }}
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ModalUserComponent',
  props: {
    submitTitle: {
      type: String,
      default: 'Submit',
    },
  },
  methods: {
    close() {
      this.$emit('close')
    },
    submit() {
      this.$emit('submit')
    },
  },
}
</script>

<style scoped>
.modal {
  background: #ffffff;
  border-radius: 12px;
  width: 400px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header,
.modal-footer {
  padding: 20px;
  display: flex;
}

.modal-header {
  position: relative;
  justify-content: center;
}

.button-close {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
}

.modal-footer {
  padding-top: 10px !important;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.modal-body {
  position: relative;
  padding: 12px 20px 0px;
}

.button-submit {
  width: 100%;
  background: #a06cd5;
  border: none;
  border-radius: 12px;
  padding: 14px 0;
  cursor: pointer;
}

@media screen and (min-width: 0) and (max-width: 600px) {
  .modal {
    width: 95%;
  }
}
</style>