<template>
  <main class="main">
    <h1 class="main-header">Akun</h1>
    <div class="main-content">
      <div class="account">
        <div class="account-hero">
          <img src="~/static/image/Group 486.png" alt="" class="hero-image" />
          <div class="hero-content">
            <img
              :src="require('~/static/avatar/default.jpg')"
              alt=""
              class="hero-avatar"
            />
            <h3 class="color-white">{{ user.name || 'Anonymous' }}</h3>
            <div class="color-white text-caption">
              {{ user.email || 'Anonymous@gmail.com' }}
            </div>
          </div>
        </div>
        <div class="account-menu">
          <h4>Pengaturan</h4>
          <div class="menu-item" @click="showModal('update-profile')">
            Ubah Informasi Akun
            <img src="~/static/icon/Chevron-right.svg" alt="" />
          </div>
          <hr />
          <div class="menu-item" @click="showModal('update-password')">
            Ubah Password
            <img src="~/static/icon/Chevron-right.svg" alt="" />
          </div>
          <hr />
          <div class="menu-item menu-logout" @click="handleLogout">
            <img src="~/static/icon/Log-out.svg" alt="" class="logout-icon" />
            Keluar
          </div>
        </div>
      </div>
    </div>
    <ModalUser
      v-show="modalActive === 'update-profile'"
      submitTitle="Simpan"
      @close="closeModal"
      @submit="submitModalProfile"
    >
      <template #header> Ubah Informasi Akun </template>
      <template #body>
        <Input
          placeholder="Masukkan namamu"
          label="Nama"
          name="name"
          :value="formProfile.name"
          @input="handleInputProfile"
        />
        <Input
          placeholder="Masukkan alamat emailmu"
          label="Email"
          name="email"
          :value="formProfile.email"
          @input="handleInputProfile"
        />
      </template>
    </ModalUser>
    <ModalUser
      v-show="modalActive === 'update-password'"
      submitTitle="Simpan"
      @close="closeModal"
      @submit="submitModalPassword"
    >
      <template #header> Ubah Password </template>
      <template #body>
        <Input
          placeholder="Masukkan password"
          type="password"
          label="Password"
          name="password"
          :value="formPassword.password"
          @input="handleInputPassword"
        />
        <Input
          placeholder="Masukkan konfirmasi password"
          type="password"
          label="Konfirmasi Password"
          name="confirmPassword"
          :value="formPassword.confirmPassword"
          @input="handleInputPassword"
        />
      </template>
    </ModalUser>
  </main>
</template>

<script>
export default {
  name: 'AccountPage',
  data() {
    return {
      modalActive: '',
      formProfile: {
        name: this.$store.state.user.user.name,
        email: this.$store.state.user.user.email,
      },
      formPassword: {
        password: '',
        confirmPassword: '',
      },
    }
  },
  computed: {
    user() {
      return this.$store.state.user.user
    },
  },
  methods: {
    showModal(data) {
      this.modalActive = data
    },
    closeModal() {
      this.modalActive = ''
    },
    submitModalProfile() {
      // console.log(this.formProfile)
      this.modalActive = ''
      alert('update profile')
    },
    submitModalPassword() {
      // console.log(this.formPassword)
      this.modalActive = ''
      alert('update password')
    },
    handleLogout() {
      this.$store.dispatch('user/logout')
    },
    handleInputProfile(e) {
      this.formProfile = { ...this.formProfile, [e.name]: e.value }
    },
    handleInputPassword(e) {
      this.formPassword = { ...this.formPassword, [e.name]: e.value }
    },
  },
}
</script>

<style scoped>
.main {
  width: 560px;
}
.main-header {
  margin-bottom: 24px;
}
.account {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
}
.account-hero {
  position: relative;
}
.hero-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  margin-bottom: 15px;
  cursor: pointer;
}
.account-menu {
  padding: 16px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  cursor: pointer;
}
.menu-item:hover {
  color: black;
}
.menu-logout {
  justify-content: flex-start;
}
.loguot-icon {
  margin-right: 8px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-header {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 16px;
  }
  .account {
    box-shadow: none;
    border-radius: 0px;
  }
  .hero-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}
</style>