<template>
  <main class="question">
    <div class="question-box">
      <div class="box-profile text-caption">
        <img
          :src="require('~/static/avatar/default.jpg')"
          alt=""
          class="box-avatar"
        />
        {{ user.name || 'Anonymous' }}
      </div>
      <input
        type="text"
        placeholder="Apa yang ingin kamu tanyakan?"
        class="box-input"
        name="question"
        :value="question"
        @input="handleInputQuestion"
      />
    </div>
    <div>
      <div class="question-tabs">
        <div
          :class="['tabs-title', tabsActive === 'default' ? 'tabs-active' : '']"
          @click="handleChangeTabs('default')"
        >
          😁 For You
        </div>
        <div
          :class="[
            'tabs-title',
            tabsActive === 'trending' ? 'tabs-active' : '',
          ]"
          @click="handleChangeTabs('trending')"
        >
          🚀 Trending
        </div>
      </div>
      <div class="question-list">
        <CardQuestionAvatar
          v-for="(item, index) in listQuestion"
          :key="item.id"
          :borderBottom="listQuestion.length === index + 1 ? true : false"
          :name="item.name"
          :image="item.image"
          :question="item.question"
          :answer="item.answer"
          :voteUp="item.voteUp"
          :voteDown="item.voteDown"
          :createdAt="item.createdAt"
          :share="true"
          @click="goToDetail(item.id)"
        />
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'HomePage',
  data() {
    return {
      question: '',
      tabsActive: 'default',
    }
  },
  computed: {
    user() {
      return this.$store.state.user.user
    },
    listQuestion() {
      return this.$store.state.question.listQuestionAll
    },
  },
  created() {
    // this.$axios
    //   .get('/users')
    //   .then((res) => console.log(res))
    //   .catch((err) => console.log(err))
  },
  methods: {
    handleInputQuestion(e) {
      // console.log(e.target.value)
      this.question = e.target.value
    },
    handleChangeTabs(data) {
      this.tabsActive = data
    },
    goToDetail(id) {
      this.$router.push('/question/' + id)
    },
  },
}
</script>

<style scoped>
.question {
  width: 560px;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  border-radius: 12px;
  margin-bottom: 25px;
}
.question-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 8px;
}
.box-profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.box-avatar {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 8px;
}
.box-input {
  width: 100%;
  border: none;
  padding: 5px 0px;
}
.question-tabs {
  display: flex;
  background-color: #ffffff;
}
.tabs-title {
  padding: 11px 16px;
  cursor: pointer;
}
.tabs-active {
  border-bottom: 2px solid #a06cd5;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .question {
    width: 100%;
    border-radius: 0px;
  }
  .question-box {
    padding: 16px;
  }
}
</style>