<template>
  <main class="main">
    <img src="~/static/image/Querty.png" class="main-logo" alt="" />
    <Card>
      <div class="content">
        <div class="content-image">
          <img src="~/static/image/Team meeting_Two Color 1.png" alt="" />
        </div>
        <div class="content-form">
          <h1 class="form-header">Masuk</h1>
          <Input
            placeholder="Masukkan alamat emailmu"
            type="email"
            name="email"
            :value="form.email"
            @input="handleInputLogin"
          />
          <Input
            placeholder="Password"
            type="password"
            name="password"
            :value="form.password"
            @input="handleInputLogin"
          />
          <div
            class="form-link__modal text-caption color-blue"
            @click="showModal('verif')"
          >
            Lupa password?
          </div>
          <Button title="Masuk" @click="handleLogin" />
          <div class="form-line">
            <span class="line-text text-caption">atau masuk dengan</span>
          </div>
          <ButtonIcon
            title="Google"
            icon="Google"
            color="#424746"
            @click="handleLoginSoc"
          />
          <ButtonIcon
            title="Facebook"
            icon="Facebook"
            color="#3b5998"
            @click="handleLoginSoc"
          />
          <div class="form-title text-caption color-black">
            Belum punya akun?
            <span class="form-link color-amethyst2" @click="goToRegister"
              >Daftar sekarang</span
            >
          </div>
        </div>
      </div>
    </Card>
    <ModalUser
      v-show="modalActive === 'verif'"
      submitTitle="Verifikasi"
      @close="closeModal"
      @submit="submitModalVerif"
    >
      <template #header> Atur ulang password </template>
      <template #body>
        <Alert
          title="Masukkan email yang terdaftar. Setelah itu, kode verifikasi akan dikirim
    untuk atur ulang password."
        />
        <Input
          placeholder="Masukkan alamat emailmu"
          type="email"
          name="email"
          :value="formForgot.email"
          @input="handleInputForgot"
        />
      </template>
    </ModalUser>
    <ModalUser
      v-show="modalActive === 'confirm'"
      submitTitle="Verifikasi"
      @close="closeModal"
      @submit="submitModalConfirm"
    >
      <template #header> Verifikasi </template>
      <template #body>
        <div class="modal-body">
          <img
            src="~/static/image/Online protection_Two Color (1) 1.png"
            alt=""
            class="modal-image"
          />
          <div>Kode verifikasi telah dikirim ke</div>
          <h4>bambang@gmail.com</h4>
          <InputOtp :otp="otp" @handleInputOtp="handleInputOtp" />
          <div class="modal-caption">
            Mohon tunggu <span class="color-amethyst3">21 detik</span> untuk
            mengirim ulang
          </div>
        </div>
      </template>
    </ModalUser>
  </main>
</template>

<script>
export default {
  name: 'LoginPage',
  layout: 'auth',
  data() {
    return {
      modalActive: '',
      otp: {
        n1: '',
        n2: '',
        n3: '',
        n4: '',
        n5: '',
        n6: '',
      },
      formForgot: {
        email: '',
      },
      form: {
        email: '',
        password: '',
      },
    }
  },
  computed: {
    // token() {
    //   return this.$store.state.user.token
    // },
  },
  methods: {
    goToRegister() {
      this.$router.push('/register')
    },
    handleLogin() {
      this.$store
        .dispatch('user/login', this.form)
        .then((res) => {
          // console.log(res)
          this.$store.dispatch('message/addMessage', {
            type: 'success',
            msg: 'Berhasil !',
          })
          setTimeout(() => {
            this.$router.push('/')
          }, 3000)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    handleLoginSoc() {
      alert('Login with Google / Facebook')
      // this.$router.push('/')
    },
    showModal(data) {
      this.modalActive = data
    },
    closeModal() {
      this.modalActive = ''
      this.resetForm()
    },
    submitModalVerif() {
      // console.log(this.formForgot)
      this.modalActive = 'confirm'
    },
    submitModalConfirm() {
      this.modalActive = ''
      // let allOtp = ''
      // for (const item in this.otp) {
      //   allOtp += this.otp[item]
      // }
      // console.log(allOtp)
      this.resetForm()
    },
    handleInputOtp(e) {
      this.otp = { ...this.otp, [`n${e.target.id}`]: e.target.value }
    },
    resetForm() {
      this.otp = {
        n1: '',
        n2: '',
        n3: '',
        n4: '',
        n5: '',
        n6: '',
      }
      this.formForgot = {
        email: '',
      }
      this.form = {
        email: '',
        password: '',
      }
    },
    handleInputLogin(e) {
      this.form = { ...this.form, [e.name]: e.value }
    },
    handleInputForgot(e) {
      this.formForgot = { ...this.formForgot, [e.name]: e.value }
    },
  },
}
</script>

<style scoped>
.main-logo {
  display: none;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-image,
.content-form {
  flex: 1;
}
.content-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-left: 1px solid rgba(112, 144, 176, 0.2);
}
.form-header {
  margin-bottom: 24px;
}
.form-link__modal {
  text-align: right;
  cursor: pointer;
}
.form-title {
  margin-top: 63px;
}
.form-link {
  font-weight: bold;
  cursor: pointer;
}
.form-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(112, 144, 176, 0.2);
  line-height: 0.1em;
  margin: 10px 0 24px;
}
.line-text {
  padding: 0 10px;
  background-color: #ffffff;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-image {
  width: 170px;
}
.modal-caption {
  margin-bottom: 15px;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-logo {
    display: inline-block;
    margin-bottom: 24px;
  }
  .content-image {
    display: none;
  }
  .content-form {
    border-left: none;
    padding: 0px;
  }
  .form-header {
    display: none;
  }
  .form-title {
    margin-top: 24px;
    text-align: center;
  }
}
</style>

