<template>
  <main class="main">
    <h1 class="main-header">Notifikasi</h1>
    <div class="main-content">
      <div v-for="n in 10" :key="n">
        <div class="notification">
          <div class="notification-title">
            Title
            <div class="text-caption">Put description here</div>
          </div>
          <div class="notification-ellipse"></div>
        </div>
        <hr />
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'NotificationPage',
}
</script>

<style scoped>
.main {
  width: 560px;
}
.main-header {
  margin-bottom: 24px;
}
.main-content {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  padding: 12px 32px;
  height: 490px;
  overflow: scroll;
  overflow-x: hidden;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;
  cursor: pointer;
}
.notification-ellipse {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ef233c;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-header {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 16px;
  }
  .main-content {
    border-radius: 0px;
    box-shadow: none;
    padding: 0px 16px 12px;
    height: 100%;
  }
}
</style>