<template>
  <main class="main">
    <h1 class="main-header">Pertanyaan</h1>
    <div class="main-content">
      <div class="question">
        <div class="question-tabs">
          <div
            :class="[
              'tabs-title',
              tabsActive === 'default' ? 'tabs-active' : '',
            ]"
            @click="handleChangeTabs('default')"
          >
            Untuk Kamu
          </div>
          <div
            :class="[
              'tabs-title',
              tabsActive === 'follow' ? 'tabs-active' : '',
            ]"
            @click="handleChangeTabs('follow')"
          >
            Mengikuti
          </div>
        </div>
        <hr />
        <div class="question-body">
          <CardQuestion
            v-for="n in 5"
            :key="n"
            question="Bagaimana cara mengetes seseorang kaya atau tidak?"
            answer="2"
            following="5"
            :borderBottom="n === 5 ? true : false"
          />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'QuestionListPage',
  data() {
    return {
      tabsActive: 'default',
    }
  },
  methods: {
    handleChangeTabs(data) {
      this.tabsActive = data
    },
  },
}
</script>

<style scoped>
.main {
  width: 560px;
}
.main-header {
  margin-bottom: 24px;
}
.question {
  box-shadow: 0px 2px 24px rgba(98, 71, 170, 0.12);
  border-radius: 12px;
  margin-bottom: 25px;
}
.question-tabs {
  display: flex;
  border-radius: 12px 12px 0px 0px;
  background-color: #ffffff;
}
.tabs-title {
  padding: 11px 16px;
  cursor: pointer;
}
.tabs-active {
  border-bottom: 2px solid #a06cd5;
  font-size: 14px;
  font-weight: bold;
}
.tabs-title:hover {
  font-weight: bold;
  border-bottom: 2px solid #a06cd5;
}
.question-body {
  border-radius: 0px 0px 12px 12px;
  background-color: #f6f5f8;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-header {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding: 16px;
  }
  .question {
    border-radius: 0px;
    box-shadow: none;
  }
}
</style>