<template>
  <main class="main">
    <img src="~/static/image/Querty.png" alt="" class="main-logo" />
    <Card>
      <div class="content">
        <div class="content-image">
          <img src="~/static/image/Team meeting_Two Color 1.png" alt="" />
        </div>
        <div class="content-form">
          <h1 class="form-header">Daftar</h1>
          <Input
            placeholder="Masukkan nama kamu"
            label="Nama"
            name="name"
            :value="form.name"
            @input="handleInputRegister"
          />
          <Input
            placeholder="Masukkan alamat emailmu"
            label="Email"
            name="email"
            :value="form.email"
            @input="handleInputRegister"
          />
          <Input
            placeholder="Masukkan password"
            type="password"
            label="Password"
            name="password"
            :value="form.password"
            @input="handleInputRegister"
          />
          <Input
            placeholder="Ulangi passwordmu"
            type="password"
            label="Konfirmasi Password"
            name="confirmPassword"
            :value="form.confirmPassword"
            @input="handleInputRegister"
          />
          <Button title="Daftar" @click="handleRegister" />
          <div class="form-title text-caption color-black">
            Sudah punya akun?
            <span class="form-link color-amethyst2" @click="goToLogin"
              >Login sekarang</span
            >
          </div>
        </div>
      </div>
    </Card>
  </main>
</template>

<script>
export default {
  name: 'RegisterPage',
  layout: 'auth',
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
      },
    }
  },
  methods: {
    goToLogin() {
      this.$router.push('/login')
    },
    handleInputRegister(e) {
      this.form = { ...this.form, [e.name]: e.value }
    },
    handleRegister() {
      // console.log(this.form)
      alert('Register')
      this.$store.dispatch('user/register', this.form)
    },
    resetForm() {
      this.form = {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
      }
    },
  },
}
</script>

<style scoped>
.main-logo {
  display: none;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-image,
.content-form {
  flex: 1;
}
.content-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  border-left: 1px solid rgba(112, 144, 176, 0.2);
}
.form-header {
  margin-bottom: 24px;
}
.form-title {
  margin-top: 63px;
}
.form-link {
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .main {
    width: 100%;
  }
  .main-logo {
    display: inline-block;
    margin-bottom: 24px;
  }
  .content-image {
    display: none;
  }
  .content-form {
    border-left: none;
    padding: 0px;
  }
  .form-header {
    display: none;
  }
  .form-title {
    margin-top: 24px;
    text-align: center;
  }
}
</style>

