<template>
  <Card>
    <h1 class="topic-header">Pilih Topik</h1>
    <div class="topic-description color-eerieblack">
      Pilih minimal 3 topik yang kamu sukai
    </div>
    <div class="topic-list">
      <ChecklistTopic
        v-for="n in 10"
        :key="n"
        :title="`Option
        ${n}`"
        :value="`option-${n}`"
        :isActive="selectTopic.includes(`option-${n}`)"
        @change="handleSelectTopic"
      />
    </div>
    <Button title="Selesai" @click="handleSubmit" />
  </Card>
</template>

<script>
export default {
  name: 'SelectTopicPage',
  layout: 'auth',
  data() {
    return {
      selectTopic: [],
    }
  },
  methods: {
    handleSelectTopic(e) {
      if (!this.selectTopic.includes(e.value)) {
        this.selectTopic = [...this.selectTopic, e.value]
      } else {
        this.selectTopic = this.selectTopic.filter((item) => item !== e.value)
      }
    },
    handleSubmit() {
      // console.log(this.selectTopic)
    },
  },
}
</script>

<style scoped>
.topic-header {
  margin-bottom: 8px;
}
.topic-description {
  margin-bottom: 15px;
}
.topic-list {
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 0) and (max-width: 600px) {
}
</style>