<template>
  <div class="alert text-caption color-black">
    <img src="~/static/icon/Info.svg" alt="" class="alert-icon" />
    {{ title }}
  </div>
</template>

<script>
export default {
  name: 'AlertComponnet',
  props: {
    title: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.alert {
  width: 100%;
  background-color: rgba(220, 243, 235, 0.4);
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.alert-icon {
  margin-right: 8px;
}
</style>